body {
    background-color: white;
    color: rgba(0,0,0,1);
}
p {
    text-align: justify;
    text-indent: 50px;
}

/* Formatação de imagens com legendas */

.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 5px black;
    
}

.foto-legenda img {
    width: 100%;
    height: 100%;
}

.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    color: white;
    top: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.247);    
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;

}
.foto-legenda figcaption:hover {
    opacity: 1;


}