@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@font-face {
  font-family: "bubblegum-sans-regular";
  src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
  background-color: #dddddd;
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
}

#interface {
  position: relative;
  width: calc(100% - 200px);
  background-color: white;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
  padding: 10px;
}

p {
  text-align: justify;
  text-indent: 50px;
}

a {
  color: #606060;
  text-decoration: none;
  transition: text-decoration 0.6s;
}

section a,
footer a {
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

#cabecalho {
  border-bottom: 1px #606060 solid;
  height: 150px;
  background-image: url("../_imagens/glass-logo-peq.jpg");
  background-repeat: no-repeat;
  background-position: 0 85%;
}

#cabecalho h1 {
  font-family: "bubblegum-sans-regular", Arial, Helvetica, sans-serif;
  font-size: 30pt;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
  padding: 0;
}

#cabecalho h2 {
  font-family: "Titillium Web", sans-serif;
  color: #888888;
  font-size: 15pt;
  padding: 0;
  margin-top: 0;
}

#icone {
  position: absolute;
  left: calc(100% - 150px);
  top: 80px;
}

/* Formatação de imagens com legendas */

.foto-legenda {
  position: relative;
  border: 8px solid white;
  box-shadow: 1px 1px 5px black;
}

.foto-legenda img {
  width: 100%;
  height: 100%;
}

.foto-legenda figcaption {
  opacity: 0;
  position: absolute;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 0.5s;
}

.foto-legenda figcaption:hover {
  opacity: 1;
}

/* Formatação do menu */

#menu {
  display: block;
}

#menu ul {
  list-style-type: none;
  text-transform: uppercase;
  position: absolute;
  top: -10px;
  right: 20px;
}

#menu li {
  display: inline-block;
  background-color: #dddddd;
  padding: 10px;
  margin: 2px;
  transition: background-color 0.8s;
  cursor: pointer;
}

#menu li:hover {
  background-color: #606060;
}

#menu h1 {
  display: none;
}

#menu a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

#menu a:hover {
  color: white;
}

#corpo {
  display: block;
  width: 54%;
  float: left;
  border-right: 1px solid #606060;
  padding-right: 2rem;
}

#noticia-principal {
  box-sizing: border-box;
  overflow: hidden;
}
#noticia-principal > h2 {
  font-size: 12pt;
  color: #606060;
  background-color: #dddddd;
  padding: 5px 0px 5px 10px;
  margin: 10px 0px;

}

#cabecalho-artigo h1 {
  font-family: "bubblegum-sans-regular", Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: #606060;
  margin-bottom: 0;
  margin-top: 0;
}

#cabecalho-artigo h2 {
  font-size: 13pt;
  color: #cecece;
  margin: 0;
}

#cabecalho-artigo h3 {
  font-size: 12px;
  color: #606060;
}

#cabecalho-artigo h3:last-child {
  text-align: right;
}

#lateral {
  display: block;
  width: 40%;
  float: right;
  background-color: #dddddd;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
}

#lateral h1 {
  margin-top: 0;
  font-family: "bubblegum-sans-regular" sans-serif;
  font-size: 20pt;
  color: #606060;
}

#lateral h2 {
  background-color: #606060;
  font-size: 13pt;
  color: white;
}

footer#rodape p {
  clear: both;
  border-top: 1px solid #606060;
  text-align: center;
  padding-top: 10px;
}

#tabelaspec {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin: auto;
}

#tabelaspec td {
  padding: 10px;
  border: 1px solid #606060;
  vertical-align: middle;
}

.right_col {
  text-align: left;
  background-color: #cecece;
}

#tabelaspec td.left_col {
  text-align: right;
  background-color: #606060;
  color: #ffffff;
  vertical-align: top;
  font-weight: bold;
}

#tabelaspec caption {
  color: #888888;
  font-size: 13pt;
  font-weight: bolder;
}
#tabelaspec caption span {
  font-size: 8pt;
  float: right;
  color: black;
  margin-top: 10px;
}

#vd1 {
  display: block;
  position: relative;
  margin: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  width: calc(100% - 40px);
}

#vd2 {
  width: 100%;
  border-radius: 10px;

}