form {
  width: 500px;
  margin: auto;
}

input,
textarea,
select {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13pt;
  opacity: 0.6;
}

input:hover,
textarea:hover,
select:hover {
  background-color: #dddddd;
}

legend {
  color: #888888;
  font-weight: bold;
  font-size: 13pt;
  font-family: sans-serif;
}

fieldset {
  border-color: #cecece;
  margin: 20px;
}

#sexo {
  width: 150px;
}

#usuario {
  background: url("../_imagens/icone-contato.png") no-repeat;
  background-position: center;
}

#endereco {
  background: url("../_imagens/icone-endereco.png") no-repeat;
  background-position: center;
}

#mensagem {
  background: url("../_imagens/icone-mensagem.png") no-repeat;
  background-position: center;
}

#pedido {
  background: url("../_imagens/icone-pagamento.png") no-repeat;
  background-position: center;
}
