#tv-radio {
  width: 900px;
  height: 580px;
  margin: auto;
  background: url("../_imagens/radio-tv.png") no-repeat;
}

#musica {
  display: block;
  position: relative;
  left: 570px;
  top: 490px;
  width: 300px;
}

#filme {
  display: block;
  position: relative;
  left: 85px;
  top: 65px;
  width: 440px;
}
